
nav {
    background-color: blueviolet;
    color: black;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    width: 10%;
    list-style: none;
}

.menu a {
    color: black;
    font-family: "indie Flower", cursive;
    text-decoration: none;
}

.menu a:hover {
    background-color: rgba(28, 168, 223, 0.849);
    border: 5px white solid;
    border-radius: 5px;
    color: black;
}

.logo {
    flex-grow: 3;
}

.logo img {
    width: 10%;
    padding: 0.5% 1% 0.5% 5%;
}


/* Menu desplegable */

#menu ul li {
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
}

#menu ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: blueviolet;
    padding: 0;
    display: none;
}

#menu ul li:hover > ul {
    display: block;
}

#menu ul ul li {
    float: none;
    margin-top: 10px;
    width: 150px;
}
